pkgbase = emoticond
	pkgdesc = A (legitimately) clever kaomoji search engine: CLI, launcher menu and picker daemon
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/Cloveian/emoticond
	install = emoticond.install
	arch = x86_64
	arch = aarch64
	license = MIT OR Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	optdepends = emoticond-data: kaomoji data for every user (or run `emoticond data fetch`)
	optdepends = wl-clipboard: copy picks on Wayland (emoticond menu)
	optdepends = xclip: copy picks on X11 (emoticond menu)
	optdepends = wtype: type picks on Wayland (emoticond menu --action type)
	optdepends = fuzzel: a launcher for emoticond menu (or rofi, wofi, tofi, bemenu, walker, dmenu)
	conflicts = emoticond-bin
	options = !lto
	source = emoticond-1.0.2.tar.gz::https://github.com/Cloveian/emoticond/archive/v1.0.2.tar.gz
	sha256sums = e4d3074e46a2915e53f8447a73323e898580d1781560dd2609e7795e0867a9fb

pkgname = emoticond
